/* Copying Bulma's .code or .pre styling in a custom class */
.code-font {
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: auto;
  font-family: "Inconsolata", "Consolas", "Monaco", monospace;
}

/* Augment bulma icon sizes with a is-tiny class */
.icon.is-tiny {
  font-size: 7px;
  height: .5rem;
  width: .5rem;
  line-height: .5rem;
}
