@font-face {
    font-family: "Purisa";
    src: url("../fonts/Purisa.eot");
    src: local("Purisa"), url("../fonts/Purisa.ttf") format("truetype");
}

* {
    border: 0;
}
body {
    background-color: black;
    color: white;
    height: 100%;
    width: 100%;
    margin: 0;
}
:focus {
    outline: 0px;
}

a:link {
    color: #2277FF;
}

div#header {
    position: absolute;
    top:0;
    left:0;
    height: 25%;
    width: 100%;

    min-height:110px;

    border-bottom: 2px solid #888888;
    margin:0;
    padding:0;
}
img#title {
    position: absolute;
    left: 5%;
    bottom: 0%;
}
div#menu-container {
    position: absolute;
    right: 20%;
    bottom: 0%;
}
img.menu-item {
    float: left;
    margin-left: 1px;
}

div#all_but_header {
    position:absolute;
    top:25%;
    width:100%;

    height: auto !important;
    height:75%;
    min-height:75%;
}
div#prose_block_nonblog {
    text-align:right;
    color: white;
    padding-top:4%;
    padding-bottom: 70px;
    padding-left: 10%;
    padding-right: 8%;
    font-family: Purisa, Arial, Helvetica, sans-serif;
}
div#footer {
    height: 45px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: black;
}
div#footer-about {
    position: relative;
    display: block;
    width: 35px;
    height: 35px;
    margin:5px auto;
}
img.rss-icon {
    vertical-align: middle;
}
