RewriteEngine On
RewriteCond %{HTTP_HOST} ^www.nicdumz.fr$ [NC]
RewriteRule ^(.*)$ http://nicdumz.fr/$1 [R=301,L]

AddType application/rss+xml .xml
AddDefaultCharset utf-8

# month
<FilesMatch "\.(gif|jpe?g|png|ico|eot|ttf)$">
   Header set Cache-Control "max-age=2592000, public"
</FilesMatch>

# week
<FilesMatch "\.(js|css|pdf|txt)$">
   Header set Cache-Control "max-age=604800, public"
</FilesMatch>

# hour
<FilesMatch "\.(html|htm)$">
   Header set Cache-Control "max-age=3600, public"
</FilesMatch>

# a year for jquery libs: they wont ever change
<FilesMatch "jquery.*\.js$">
   Header set Cache-Control "max-age=29030400. public"
</FilesMatch>
