<article>
  <div class="blog_post content box" style="border-radius: 12px; border: none; box-shadow: 0 4px 20px rgba(0,0,0,0.05);">
    <header>
      <div id="{{ include.post.id | replace: "/" "-" }}"></div>
      <h2 class="blog_post_title is-size-2">
        <a href="{{ include.post.url }}" rel="bookmark" title="Permanent Link to {{ include.post.title }}">
          {{ include.post.title }}
        </a>
      </h2>
      <p class="mb-5">
        <small class="has-text-grey-light">
          <span class="blog_post_date is-italic">{{ include.post.date | date: "%Y-%m-%d" }}</span> 
        </small>
      </p>
    </header>
    
    <div class="post_prose is-size-5-desktop">
      {{ include.post.content }}
    </div>
  </div>
</article>
