---
layout: with_top_nav
---

<section class="hero is-dark is-small has-text-right">
  <div class="hero-body">
    <div class="container is-max-widescreen px-5"> 
      <p class="title">Ramblings</p>
    </div>
  </div>
</section>

<section class="section pt-4">
  <div class="container is-max-widescreen px-5">
    <div class="columns is-variable is-8-desktop is-centered">
      
      <div class="column is-2-desktop is-hidden-mobile pt-5">
        {% include sidebar.html %}
      </div>

      <div class="column is-7-desktop">
        {{ content }}
      </div>

    </div>
  </div>
</section>
