---
layout: default
---

<div class="container">
  <navbar class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <p class="title">Nicolas Dumazet</p>
      </a>
      <!-- This "navbar-burger" hamburger menu is only visible on mobile -->
      <!-- JavaScript toggles the "is-active" class on "navbar-menu" -->
      <a role="button" id="navbar-burger" class="navbar-burger">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbar-menu" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" href="/">Home</a>
        <a class="navbar-item" href="/blog/">Blog</a>
        <a class="navbar-item" href="/#about">About</a>
        <a class="navbar-item" href="/#contact">Contact</a>
      </div>
    </div>
  </navbar>
</div>
{{ content }}

<script type="text/javascript" defer>
let menu = document.querySelector('#navbar-menu');
let burger = document.querySelector("#navbar-burger");

// Support for Menu toggling.
burger.addEventListener('click', () => {
  burger.classList.toggle('is-active');
  menu.classList.toggle('is-active');
});

// Add highlighting to the correct navbar links.
document.querySelectorAll("a.navbar-item, #latest-posts li a").forEach((item) => {
  const u = URL.parse(item.href, document.location);
  if (u.pathname == "/") return;
  if (document.location.href.startsWith(item.href)) {
    item.classList.add('has-background-primary-soft');
  }
});
</script>
