---
layout: default
---

<div class="container">
  <navbar class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <p class="title">Nicolas Dumazet</p>
      </a>
      <!-- This "navbar-burger" hamburger menu is only visible on mobile -->
      <!-- JavaScript toggles the "is-active" class on "navbar-menu" -->
      <a role="button" id="navbar-burger" class="navbar-burger">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbar-menu" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" href="/">Home</a>
        <a class="navbar-item" href="/blog/">Blog</a>
        <a class="navbar-item" href="/#about">About</a>
        <a class="navbar-item" href="/#contact">Contact</a>
      </div>
    </div>
  </navbar>
</div>
{{ content }}

<script src="//ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript">
jQuery(document).ready(function ($) {
  var $menu = $('#navbar-menu');

  // Support for Menu toggling.
  $('#navbar-burger').click(function() {
      $(this).toggleClass('is-active');
      $menu.toggleClass('is-active');
  });

  // Add is-active to the correct navbar links.
  $("a.navbar-item").each(function(index, elt) {
    if (elt.href == document.location) {
      $(elt).addClass('is-active');
    }
  });
});
</script>
